<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-design-v2.jpg" alt="">

                    <div class="card-body">
                        <p class="card-text">Design</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-development-v2.jpg" alt="">

                    <div class="card-body">
                        <p class="card-text">Development</p>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing-v2.jpg" alt="">

                    <div class="card-body">
                        <p class="card-text">Marketing</p>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-v2.jpg" alt="">

                    <div class="card-body">
                        <p class="card-text">IT and SoftWare</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-personal-development-v2.jpg"
                        alt="">

                    <div class="card-body">
                        <p class="card-text">Personal Development</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-business-v2.jpg" alt="">

                    <div class="card-body">
                        <p class="card-text">Business</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-photography-v2.jpg" alt="">

                    <div class="card-body">
                        <p class="card-text">Photography</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-music-v2.jpg" alt="">

                    <div class="card-body">
                        <p class="card-text">Music</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
