<div class="d-flex justify-content-between mb-3" style="border: solid 1px black;">
    <div class="card md-4" style="width: 18rem;">
        <img src="https://img-c.udemycdn.com/course/240x135/567828_67d0.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">2021 Complete Python Bootcamp From Zero To Hero In </h5>
            <p class="card-text">Jose Portilla</p> <br>
            <p class="card-text">27,99</p>

        </div>
    </div>
    <div class="card md-6" style="width: 18rem;">
        <img src="https://img-c.udemycdn.com/course/240x135/950390_270f_3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Machine Learning A-Z™: Hands-On Python & R In Data Science </h5>
            <p class="card-text">Kirill Eremenko,Hadeli de Ponteves</p> <br>
            <p class="card-text">27,99</p>

        </div>
    </div>
    <div class="card md-8" style="width: 18rem; ">
        <img src="https://img-c.udemycdn.com/course/240x135/903744_8eb2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Python for Data Science and Machine Learning Bootcamp</h5>
            <p class="card-text">Jose Portilla</p> <br>
            <p class="card-text">27,99</p>

        </div>
    </div>


</div>