<div class="container">
  <div class="row">
    <app-navi></app-navi>
  </div>
  <div class="row">
    <div class="col">
      <app-product></app-product>
    </div>
  </div>
  <div>
    <div class="col">
      <app-category></app-category>
    </div>
    <div class="col">
      <app-product2></app-product2>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <app-product3></app-product3>
    </div>
  </div>
  <div class="row">
    <app-navi2></app-navi2>
  </div>
  <div class="row">
    <div class="col">
      <app-product4></app-product4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-product5></app-product5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-product6></app-product6>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-product7></app-product7>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </div>

</div>

<router-outlet></router-outlet>