<div>
    <img src="https://s.udemycdn.com/home/non-student-cta/instructor-1x-v3.jpg" style="height: 400px; width: 400px;">
    <h2>Become an instructor</h2>
    <h6>Instructors from around the world teach millions of students on Udemy. We provide the tools and skills to teach what you love.</h6>
    <p><a class="btn btn-secondary" href="#">Start teaching today &raquo;</a></p>
</div>

<nav>
    <div>
        <h5> Trusted by companies of all sizes </h5>
    </div>
    <div class="d-flex justify-content-between mb-3" style="background-color:lightgray;">
        <img src="https://s.udemycdn.com/partner-logos/v4/apple-dark.svg" alt="">
        <img src="https://s.udemycdn.com/partner-logos/v4/box-dark.svg" alt="">
        <img src="https://s.udemycdn.com/partner-logos/v4/volkswagen-dark.svg" alt="">
        <img src="https://s.udemycdn.com/partner-logos/v4/netflix-dark.svg" alt="">
        <img src="https://s.udemycdn.com/partner-logos/v4/eventbrite-dark.svg" alt="">
    </div>
</nav>
<div>
    <img src="https://s.udemycdn.com/home/non-student-cta/ub-1x-v3.jpg" style="height: 400px; width: 400px;">
    <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-ub.svg" style="width: 200px; height: 400px;">
    <h6>Get unlimited access to 6,000+ of Udemy’s top courses for your team. Learn and improve skills across business, tech, design, and more.</h6>
    <p><a class="btn btn-secondary" href="#">Get Udemy Business &raquo;</a></p>
</div>
<div>
    <img src="https://s.udemycdn.com/home/non-student-cta/transform-1x-v3.jpg" style="height: 400px; width: 400px;">

    <h5>Transform your life through education</h5>
    <h6>Learners around the world are launching new careers, advancing in their fields, and enriching their lives. </h6>
    <p><a class="btn btn-secondary" href="#">Find out how &raquo;</a></p>
</div>