<div class="container marketing" style="background-color: lightgray;">
    <div class="row">
        <h3>Featured topics by category</h3>
        <div class="col-lg-3">
            <h4>Development</h4>
            <a class="nav-link" href="#">Python</a>
            <p>30,211,530 students</p>
            <a class="nav-link" href="#">Excel</a>
            <p>9,723,010 students</p>
            <a class="nav-link" href="#">Web Development</a>
            <p>6,046,695 students</p>
            <p><a class="btn btn-secondary" href="#">Explore more topics &raquo;</a></p>
        </div>
        <div class="col-lg-3">
            <h4>Business</h4>
            <a class="nav-link" href="#">Financial Analysis</a>
            <p>1,096,103 students</p>
            <a class="nav-link" href="#">SQL</a>
            <p>4,552,986 students</p>
            <a class="nav-link" href="#">PMP</a>
            <p>1,410,209 students</p>
        </div>
        <div class="col-lg-3">
            <h4>IT and Software</h4>
            <a class="nav-link" href="#">AWS Certification</a>
            <p>4,531,439 students</p>
            <a class="nav-link" href="#">Ethical Hacking</a>
            <p>9,254,404 students</p>
            <a class="nav-link" href="#">Cyber Security</a>
            <p>3,319,784 students</p>
        </div>
        <div class="col-lg-3">
            <h4>Design</h4>
            <a class="nav-link" href="#">Photoshop</a>
            <p>9,831,311 students</p>
            <a class="nav-link" href="#">Graphic Design</a>
            <p>2,884,446 students</p>
            <a class="nav-link" href="#">Drawing</a>
            <p>2,211,051 students</p>
        </div>

    </div>
</div>
